   
<div class="col-lg-8 mx-auto p-3 py-md-5">
  <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      <img alt="logo" height="41" class="ng-tns-c84-1" src="assets/primeng-logo-dark.svg">&#160;
      <span class="fs-4">Messages demo</span>
    </a>
  </header>

  <main>
    
    <p-messages key="gm"></p-messages>

    <router-outlet></router-outlet>    
  </main>
  <footer class="pt-5 my-5 text-muted border-top">
    Created by chefdog &middot; &copy; 2021
  </footer>
</div>



