<h1>Create</h1>
<p class="fs-5 col-md-8">
    Create messages here and display them on the dashboard
</p>


<hr class="col-3 col-md-2 mb-5">

<div class="row g-5">
    <div class="col-md-6">
        <h2>Add global messages</h2>
        <p-button label="Add single message" (click)="addSingle()"></p-button>&#160;
        <p-button label="Add multiple messages" (click)="addMultiple()"></p-button>&#160;
    </div>   
</div>


<div class="row">&#160;</div>

<div class="row g-5">
    <div class="col-md-12">
        <p-button label="To dashboard" routerLink="/dashboard" icon="pi pi-chevron-left" iconPos="right"></p-button>&#160;
    </div>
    
</div>
